[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python -m bothub_nlp_nlu_worker_on_demand"
lint = "flake8"

[packages]
python-decouple = "==3.1"
celery-worker-on-demand = {ref = "0.2.2",git = "https://github.com/Ilhasoft/celery-worker-on-demand"}
requests = "==2.20.1"
docker = "==3.7.0"
bothub_nlp_celery = {ref = "0.1.7-sentry",git = "https://github.com/Ilhasoft/bothub-nlp-celery"}
redis = "*"

[dev-packages]
"flake8" = "*"
black = "==19.3b0"

[requires]
python_version = "3.6"
