[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]
tornado = "==5.1.1"
raven = "*"
python-decouple = "*"
requests = "==2.20.1"
bothub_backend = {ref = "master",git = "https://github.com/Ilhasoft/bothub-backend"}
celery = "==4.2.1"
flask = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]
redis = "*"
"psycopg2-binary" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
