[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"

[packages]
raven = "*"
requests = "==2.20.1"
bothub_backend = {ref = "1.0.3",git = "https://github.com/Ilhasoft/bothub-backend"}
celery = "==4.3.0"
gunicorn = "==19.9.0"
gevent = "*"
bothub_nlp_celery = {ref = "0.1.7-sentry",git = "https://github.com/Ilhasoft/bothub-nlp-celery"}
django-environ = "*"
redis = "*"
kombu = "==4.5.0"
fastapi = "==0.42.0"
uvicorn = "*"
python-multipart = "*"
email-validator = "*"
dataclasses = "==0.6"
sentry-sdk = "==0.13.2"

[dev-packages]
"psycopg2-binary" = "*"
"flake8" = "*"
black = "==19.3b0"

[requires]
python_version = "3.6"
