# .coveragerc to control coverage.py
[run]
source = ./
omit =
    *tests*,
    *__init__*,
    *settings*
    *env*
    *__main__*

[report]
fail_under = 90
exclude_lines = 
    pragma: no cover
    if __name__ == .__main__.:
