# .coveragerc to control coverage.py
[run]
source = ./
omit =
    *tests*,
    *__init__*,
    *settings*,
    *env*,
    *__main__*,
    bothub_nlp/cli/*.py
    bothub_nlp/core/pipeline_components/intent_entity_featurizer_regex.py
    setup.py

[report]
fail_under = 90
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
