env/
.vscode
.ipynb_checkpoints
.~*
*.pyc
.DS_Store
app/dump.rdb
etc/
bothub-nlp.log

# file-based project format:
*.iws

# tests
tests.db
.coverage

# env vars files
.env
settings.ini

# dev
db.sqlite3

# spacy-langs
bothub-nlp-nlu-worker/spacy-langs