sudo: required

language: python
python:
  - "3.6.2"

addons:
  apt:
    packages:
      - postgresql-9.4-postgis-2.3
      - python3
      - python3-pip
  postgresql: "9.4"

services:
  - redis-server

install:
  # install all Python dependencies
  - pip install --upgrade pip
  - pip --version
  - pip install -r requirements.txt --upgrade
  - pip install coveralls
  - pip install flake8

before_script:
  # setup test database
  - psql -U postgres -c "CREATE DATABASE bothub;"
  - export BOTHUB_POSTGRES_USER=postgres
  - export BOTHUB_POSTGRES_PASSWORD=postgres
  - export BOTHUB_POSTGRES_DB=bothub
  - export BOTHUB_POSTGRES=127.0.0.1
  - export BOTHUB_POSTGRES_PORT=5432
  - export BOTHUB_REDIS=127.0.0.1
  - export BOTHUB_REDIS_PORT=6379
  - export BOTHUB_REDIS_DB=2
  - export ASYNC_TEST_TIMEOUT=25
  - export BOT_REMOVER_TIME=5
  - export GARBAGE_COLLECTOR_TIMER=20
  - python -m spacy download en
  - PYTHONPATH=`pwd` python -m app --service=create_schema

script:
 - flake8
 - cd app
 - coverage run --concurrency=multiprocessing -m unittest tests

after_success:
  - coverage combine
  - coveralls --rcfile ../.coveragerc
  - coverage report -i --rcfile ../.coveragerc  --fail-under=90