attrs==17.4.0
Automat==0.6.0
https://github.com/push-flow/bothub-app/archive/1.0.0.zip
boto3==1.6.16
botocore==1.9.16
certifi==2018.1.18
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
dj-database-url==0.4.2
Django==2.0.2
django-cors-headers==2.2.0
django-filter==1.1.0
djangorestframework==3.7.7
docutils==0.14
ftfy==4.4.3
future==0.16.0
gevent==1.2.2
greenlet==0.4.13
html5lib==1.0b8
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
klein==17.10.0
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
numpy==1.14.2
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
psycopg2-binary==2.7.4
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
python-crfsuite==0.9.5
python-dateutil==2.7.2
python-decouple==3.1
pytz==2018.3
git+https://github.com/push-flow/rasa_nlu.git@feature/direct_json_data
redis==2.10.6
regex==2017.4.5
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
simplejson==3.13.2
six==1.11.0
sklearn-crfsuite==0.3.6
spacy==2.0.10
tabulate==0.8.2
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tornado==5.0.1
tqdm==4.19.8
Twisted==17.9.0
typing==3.6.4
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.4.3
