numpy
scipy
matplotlib
spacy==2.0.10
scikit-learn==0.19.1
sklearn-crfsuite==0.3.6
git+https://github.com/push-flow/rasa_nlu.git@feature/direct_json_data
click==6.7
python-decouple==3.1
tornado==5.0.1
redis==2.10.6
https://github.com/push-flow/bothub-app/archive/1.1.0.zip
coverage==4.5.1
