bleach
boto3
botocore
certifi
chardet
click
cloudpickle
cycler
cymem
cytoolz
decorator
dill
docutils
entrypoints
Flask
ftfy
future
gevent
greenlet
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
memory-profiler
mistune
murmurhash
nbconvert
nbformat
notebook
numpy
pandocfilters
pathlib
pexpect
pickleshare
pkg-resources
plac
preshed
prompt-toolkit
psutil
ptyprocess
Pygments
pyparsing
python-crfsuite
python-dateutil
pytz
pyzmq
qtconsole
rasa-nlu
regex
requests
s3transfer
scikit-learn
scipy
simplegeneric
six
sklearn
sklearn-crfsuite
spacy
tabulate
termcolor
terminado
testpath
thinc
toolz
tornado
tqdm
traitlets
typing
ujson
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
