[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8"
test = "coverage run -m unittest"

[packages]
bothub-engine = {ref = "1.21.0", git = "https://github.com/Ilhasoft/bothub-engine"}
contextvars = "==2.3"
spacy = "==2.0.18"
rasa-nlu = "==0.14.1"
tensorflow = "==1.12.2"
scikit-learn = "==0.20.2"
sklearn-crfsuite = "==0.3.6"
pythainlp = "==1.7.2"
"pymorphy2" = "==0.8"
plac = "==0.9.6"

[dev-packages]
"flake8" = "*"
coverage = "*"

[requires]
python_version = "3.6"
