-i https://pypi.org/simple
./../bothub-nlp
./../bothub-nlp-celery
./../bothub-nlp-nlu
git+https://github.com/Ilhasoft/bothub-engine@6ad6ac9304112f138c3183d0f2d791724e1b187f#egg=bothub-engine
plac==0.9.6
psycopg2-binary==2.7.6.1
